*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 228, 182);
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    width: 100%;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background: rgba(15,15,15, 0.9);
}
.display{
    height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    font-size: 40px;
    background-color: white;
}
.key-grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.upper-keys{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.lower-keys{
    display: flex;
    gap: 10px;
}
.num-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    flex: 0.75;
    gap: 10px;
}
.operator-grid{
    display: grid;
    flex: 0.25;
    gap: 10px;
}
.key{
    height: 50px;
    font-size: 25px;
    color: white;
    background: black;
}
footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}